html, body {
	background-color:lightgrey;
	color: black;
	margin: 0;
    padding: 0;
	}
.container {
	display: flex;
	height:100%;
}
#form {
	display:flex;
	/*background-color:orangered;*/
	justify-content: center;
	flex-direction:column;
	flex: 2 1 auto;
	width:50%;
}
#background {
	display:flex;
	justify-content: center;
	width:50%;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#hero {
	display:flex;
	flex-direction: row;
	justify-content: center;
}
#heroimg{
	width:350px;
}
#formelements{
	width:100%;
	display: flex;
	justify-content: center;
	margin: 1em auto;
}

#bottomsection{
	display:flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
}
#email{
	width:30em;
	height:3em;
	margin-bottom: 1em;
	padding:1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border:none;
	outline:none;
}
#password{
	width:30em;
	height:3em;
	margin-bottom: 1em;
	padding:1em;
	border-bottom-left-radius: 1em;
	border:none;
	outline:none;
	
}
#email_error,
#password_error{
margin-top: 5px;
width: 345px;
font-size: 18px;
color: #e54ddd;
background: rgba(red, green, blue, alpha);
text-align: center;
padding: 5px 8px;
border-radius: 3px;
border: 1px solid #e54ddd;
display: none;
}
#havingtrouble{
	display:flex;
	margin-left:1em;
}
#login{
	margin: 0 0 0 auto;
}
#submitbutton{
	width:4em;
	height:2.5em;
	border-bottom-right-radius:1em;
	border:none;
	background-color:blue;
	font-weight: 700;
}
#email:focus{
	border:solid;
	border-color:blue;
}
#password:focus{
	border:solid;
	border-color:blue;
}

#sample {
	body: #e54ddd;
}

@media screen and (max-width: 55em){

  #background{
	  display: none;
  }
  #form{
	  width:100%;
  }
}

@media screen and (min-width:55em){
	#install{
		display:none;
	}
}